/* Background */ .chroma { background-color: #f2f2f7 }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #000000 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #af52de }
/* KeywordConstant */ .chroma .kc { color: #af52de }
/* KeywordDeclaration */ .chroma .kd { color: #af52de }
/* KeywordNamespace */ .chroma .kn { color: #af52de }
/* KeywordPseudo */ .chroma .kp { color: #af52de }
/* KeywordReserved */ .chroma .kr { color: #af52de }
/* KeywordType */ .chroma .kt { color: #5856d6 }
/* Name */ .chroma .n { color: #000000 }
/* NameAttribute */ .chroma .na { color: #836c28 }
/* NameBuiltin */ .chroma .nb { color: #a90d91 }
/* NameBuiltinPseudo */ .chroma .bp { color: #5b269a }
/* NameClass */ .chroma .nc { color: #3f6e75 }
/* NameConstant */ .chroma .no { color: #000000 }
/* NameDecorator */ .chroma .nd { color: #000000 }
/* NameEntity */ .chroma .ni { color: #000000 }
/* NameException */ .chroma .ne { color: #000000 }
/* NameFunction */ .chroma .nf { color: #000000 }
/* NameFunctionMagic */ .chroma .fm { color: #000000 }
/* NameLabel */ .chroma .nl { color: #000000 }
/* NameNamespace */ .chroma .nn { color: #000000 }
/* NameOther */ .chroma .nx { color: #000000 }
/* NameProperty */ .chroma .py { color: #000000 }
/* NameTag */ .chroma .nt { color: #000000 }
/* NameVariable */ .chroma .nv { color: #000000 }
/* NameVariableClass */ .chroma .vc { color: #000000 }
/* NameVariableGlobal */ .chroma .vg { color: #000000 }
/* NameVariableInstance */ .chroma .vi { color: #000000 }
/* NameVariableMagic */ .chroma .vm { color: #000000 }
/* Literal */ .chroma .l { color: #1c01ce }
/* LiteralDate */ .chroma .ld { color: #1c01ce }
/* LiteralString */ .chroma .s { color: #c41a16 }
/* LiteralStringAffix */ .chroma .sa { color: #c41a16 }
/* LiteralStringBacktick */ .chroma .sb { color: #c41a16 }
/* LiteralStringChar */ .chroma .sc { color: #2300ce }
/* LiteralStringDelimiter */ .chroma .dl { color: #c41a16 }
/* LiteralStringDoc */ .chroma .sd { color: #c41a16 }
/* LiteralStringDouble */ .chroma .s2 { color: #c41a16 }
/* LiteralStringEscape */ .chroma .se { color: #c41a16 }
/* LiteralStringHeredoc */ .chroma .sh { color: #c41a16 }
/* LiteralStringInterpol */ .chroma .si { color: #c41a16 }
/* LiteralStringOther */ .chroma .sx { color: #c41a16 }
/* LiteralStringRegex */ .chroma .sr { color: #c41a16 }
/* LiteralStringSingle */ .chroma .s1 { color: #c41a16 }
/* LiteralStringSymbol */ .chroma .ss { color: #c41a16 }
/* LiteralNumber */ .chroma .m { color: #007aff }
/* LiteralNumberBin */ .chroma .mb { color: #007aff }
/* LiteralNumberFloat */ .chroma .mf { color: #007aff }
/* LiteralNumberHex */ .chroma .mh { color: #007aff }
/* LiteralNumberInteger */ .chroma .mi { color: #007aff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #007aff }
/* LiteralNumberOct */ .chroma .mo { color: #007aff }
/* Operator */ .chroma .o { color: #000000 }
/* OperatorWord */ .chroma .ow { color: #000000 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #ff9500 }
/* CommentHashbang */ .chroma .ch { color: #ff9500 }
/* CommentMultiline */ .chroma .cm { color: #ff9500 }
/* CommentSingle */ .chroma .c1 { color: #ff9500 }
/* CommentSpecial */ .chroma .cs { color: #ff9500 }
/* CommentPreproc */ .chroma .cp { color: #ff9500 }
/* CommentPreprocFile */ .chroma .cpf { color: #ff9500 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
