<meta charset="utf-8">

<title>{{ if eq .Title "" }}{{ .Site.Title }}{{ else if ne .Title .Site.Title }}{{ .Site.Title }} - {{ end }}{{ .Title }}</title>

<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="author" content="{{ .Site.Params.Author }}">
<meta name="description" content="{{ .Site.Params.Description }}">

<link rel="stylesheet" href="{{ .Site.BaseURL }}/bootstrap.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/style.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/syntax.css">
<script type="text/javascript" src="{{ .Site.BaseURL }}/boottrap.min.js"></script>
