name: visionOS Tests

on:
  pull_request:
    branches: [ main ]
    
jobs:
  check-changes:
    name: Check for Changes
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.filter.outputs.changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            changed:
              - '.github/workflows/visionos-tests.yml'
              - '**/*.swift'

  build-visionos-matrix:
    name: visionOS Matrix
    if: ${{ github.event_name == 'push' || needs.check-changes.outputs.changed == 'true' }}
    needs: check-changes
    strategy:
      fail-fast: false
      matrix:
        xcode: [ "26.1" ]
        os: [ macos-26 ]
    runs-on: ${{ matrix.os }}

    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build and Test
        run: |
          set -o pipefail && \
          NSUnbufferedIO=YES \
          xcrun xcodebuild build -workspace . -scheme Vexil-Package -skipMacroValidation -destination "platform=visionOS Simulator,name=Apple Vision Pro,os=2.5" \
          | xcbeautify --renderer github-actions

  build-visionos:
    runs-on: ubuntu-latest
    name: visionOS Tests
    if: ${{ always() && needs.check-changes.outputs.changed == 'true' }}
    needs: [ build-visionos-matrix, check-changes ]
    steps:
      - name: Check build matrix status
        if: ${{ needs.build-visionos-matrix.result != 'success' }}
        run: exit 1
